<?php
$CONFIG = array (
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => 'smtprelaypool.ispgateway.de',
  'mail_smtpport' => '465',
  'mail_smtpsecure' => 'ssl',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpauth' => 1,
  'mail_smtpname' => 'dominic@lazarus-network.org',
  'mail_smtppassword' => '{{ nc_smtp_pw }}',
  'mail_from_address' => 'cloud',
  'mail_domain' => 'lazarus-network.org',
);
