<?php
$CONFIG = array (
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '{{ smtp_host }}',
  'mail_smtpport' => '{{ smtp_port }}',
  'mail_smtpsecure' => 'ssl',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpauth' => 1,
  'mail_smtpname' => '{{ smtp_email }}',
  'mail_smtppassword' => '{{ nc_smtp_pw }}',
  'mail_from_address' => '{{ sender_local_part}}',
  'mail_domain' => '{{ sender_domain }}',
);
